.center form {
    display: table;
    margin: 0 auto;
}

table .cell_Gog {
    color: blue;
}

table .cell_Both {
    color: green;
}

table .cell_Steam {
    color: red;
}

.game-options-class .modal-dialog {
    width: 80%;
}

.game-options-class input[type=text]{
    width: 100%;
}

.vtop {
    vertical-align: top;
}

.vcenter {
    vertical-align: middle;
}