.right {
    float: right;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

table .cell_Gog {
    color: blue;
}

table .cell_Both {
    color: green;
}

table .cell_Steam {
    color: red;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}