@(title: String, scriptName: String, elmModuleName : String)

<!DOCTYPE html>

<html lang="en">

    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/autocomplete.css")">
        <script type="text/javascript" src="@routes.Assets.versioned(scriptName + ".js")"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <div id="mainBody"></div>
    </body>

    <script type="text/javascript">
            Elm['@elmModuleName'].embed(document.getElementById('mainBody'));
    </script>

</html>
